.git
.gitignore
.vs
.vscode

**/bin/
**/obj/
**/out/
**/publish/
artifacts/
Tmf921.IntentManagement.Api/FStarDemo/generated/

.env
.env.*
**/secrets.json
**/appsettings.*.local.json
**/*.pubxml
*.pem
*.key
*.pfx
*.p12
PublishScripts/

docs/
IntentOntology/
TM641/
TM921/
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.zip
*.drawio
